#id-bacon-img {
    background-color: rgb(211, 100, 165);
}

#id-broccoli-img {
    background-color: rgb(0, 0, 0);
}

.cl-p-red {
    color: rgb(2, 233, 21);
}

.cl-p{
    color: rgb(228, 9, 100);
}
